@model IEnumerable<SimpleApp.Models.Covid19>
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width' />
    <title>SimpleApp</title>
</head>
<body>
    <h2>COVID-19</h2>
    <table>
        <thead>
            <tr>
                <th>Infected</th>
                <th>Dead</th>
                <th>Recovered</th>
                <th>Dead percent</th>
                <th>Recovered percent</th>
            </tr>
        </thead>
        <tbody>
             @foreach (SimpleApp.Models.Covid19 r in Model) {
                        <tr>
                            <td>@r.infected</td>
                            <td>@r.dead</td>
                            <td>@r.recovered</td>
                            <td>@r.deadPt</td>
                            <td>@r.recPt</td>
                        </tr>
                    }
        </tbody>
    </table>
</body>
</html>